<ion-view view-title="SelfService">
    <ion-content class="has-header">
      <h>Apply Leave</h>

      <ion-list>

        <ion-item nav-clear>
          Mark Attendance
          <button class="button button-assertive" style="float:right" ng-click="Reject(item)">
            <i class="icon ion-close-circled"></i>
          </button>
          &nbsp;
          <button class="button button-positive" style="float:right" ng-click="Accept(item)">
            <i class="icon ion-checkmark-circled"></i>
          </button>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/selfservice/applyleave">
          Apply Leave
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
